logs/
temp/

**.classpath
**.project
**.class

target/
*/config/

*.bak
*.iml
*.ipr
*.iws
.idea
.classpath
.project
.settings/
.DS_Store
.springBeans
.externalToolBuilders/

*.versionsBackup
.factorypath

*.log