<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:security="http://www.springframework.org/schema/security"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-4.2.xsd">
    <security:http>
        <!--pattern: 需要拦截的资源
        permitAll()：允许所有人访问-->
        <security:intercept-url pattern="/security/add" access="hasAnyAuthority('PRODUCT_ADD')"/>
        <security:intercept-url pattern="/security/remove" access="hasAnyAuthority('PRODUCT_REMOVE')"/>
        <security:intercept-url pattern="/security/query" access="hasAnyAuthority('PRODUCT_LIST')"/>

        <security:intercept-url pattern="/index" access="permitAll()"/>
        <security:intercept-url pattern="/userLogin" access="permitAll()"/>
        <security:intercept-url pattern="/resources/**" access="permitAll()"/>
        <security:intercept-url pattern="/**" access="isFullyAuthenticated()"/>

        <!--<security:http-basic/>-->
        <!--<security:form-login default-target-url="/security/index"-->
                             <!--authentication-success-handler-ref="myAuthenticationSuccessHandler"-->
                             <!--authentication-failure-handler-ref="myAuthenticationFailureHandler"/>-->
        <!--<security:csrf disabled="true"/>-->
        <security:form-login login-page="/userLogin" default-target-url="/index"/>
        <security:csrf disabled="true"/>
        <!--访问拒绝页面-->
        <security:access-denied-handler error-page="/error"/>
    </security:http>

    <!--认证信息提供方式-->
    <security:authentication-manager>
        <security:authentication-provider user-service-ref="myUserDetailService">
        </security:authentication-provider>
    </security:authentication-manager>

    <bean id="myUserDetailService" class="com.latiny.security.service.MyUserDetailService"/>
    <!--<bean id="myAuthenticationSuccessHandler" class="com.latiny.security.MyAuthenticationSuccessHandler"/>-->
    <!--<bean id="myAuthenticationFailureHandler" class="com.latiny.security.MyAuthenticationFailureHandler"/>-->
</beans>